{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form class="card mb-3" method="POST" action="{{ url_for('booking_done') }}">
          <div class="card-body text-center pt-5">
            <img src="{{teacher.picture}}" class="mb-3" width="95" alt="{{teacher.name}}">
            <h2 class="h5 card-title mt-2 mb-2">{{teacher.name}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{weekday|translate_weekday}}, {{time}}</p>
            <div class="card-body mx-3">
                {{ form.csrf_token }}
                {{ form.client_teacher(value=teacher['id']) }}
                {{ form.client_weekday(value=weekday) }}
                {{ form.client_time(value=time) }}
                {{ form.client_name.label(class_="mb-1 mt-2") }}
                {{ form.client_name(class_="form-control") }}
                {{ form.client_phone.label(class_="mb-1 mt-2") }}
                {{ form.client_phone(class_="form-control") }}
                <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
            </div>
          </div>
        </form>
        <form action="booking_done.html" class="card mb-3">
          <div class="card-body text-center pt-5">
            <img src="../static/pict 1.png" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{teacher.name}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{weekday|translate_weekday}}, {{time}}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  <input class="form-control" type="hidden" name="clientWeekday" value="{{weekday}}">
                  <input class="form-control" type="hidden" name="clientTime" value="{{time}}">
                  <input class="form-control" type="hidden" name="clientTeacher" value="{{teacher.id}}">
              </div>

            <label class="mb-1 mt-2" for="clientName">Вас зовут</label>
            <input class="form-control" type="text" name="clientName" id="clientName">

            <label class="mb-1 mt-2" for="clientPhone">Ваш телефон</label>
            <input class="form-control" type="tel"  name="clientPhone" id="clientPhone">

            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
