{% extends 'base.html' %}
{% block container %}
  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form class="card mb-5" method="POST" action="{{ url_for('request_done') }}">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>{{form.goal.label}}</p>
              {{form.goal(class_="form-check")}}
            </div>
            <div class="col">
              <p>{{form.time.label}}</p>
              {{form.time}}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          {{form.name.label(class_="mb-1 mt-2")}}
          {{form.name(class_="form-control")}}
          {{form.phone.label(class_="mb-1 mt-2")}}
          {{form.phone(class_="form-control")}}
          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
  </main>
{% endblock %}
